<html xmlns:th="https://ww.thymeleaf.org">
<body>
    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div>
    <div >
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr>
                     <td>Archivo para guardar</td>
                    <td><input type="file" name="file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Subir Archivo"></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <ul style="list-style-type:none">
            <li th:each="file : ${files}" style="float:left;margin-right:20px">
                <img th:src="@{${file}+'/image'}">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </ul>

    </div>
</body>
</html>